<%= render 'employees/tab_control' %>

<h1>All Holidays</h1>

<table data-toggle="table" class="table table-fixed">
  <thead>
    <tr>
      <th>Approved</th>
      <th>Leave Date</th>
      <th>Created</th>
      <th>Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @holidays.each do |holiday| %>
      <tr>
        <td><%= holiday.approved %></td>
        <td><%= holiday.leave_date %></td>
        <td><%= holiday.created_at %></td>
        <td><%= holiday.updated_at %></td>
        <td><%= link_to icon(:search), holiday %></td>
        <td><%= link_to icon(:edit), edit_holiday_path(holiday) %></td>
        <td><%= link_to icon(:trash), holiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "#{icon(:plus)} Add Holiday", new_holiday_path %>

