<h1>Editing Employee</h1>
<%= alert_box notice, context: :success if notice%>
<%= alert_box alert, context: :warning  if alert%>
<%= render 'form' %>

<%= link_to 'Show', @employee %> |
<%= link_to 'Back', employees_path %>
