<!-- Login Modal , partial layout -->
<div class="modal fade" id="modal-container-signin" role="dialog" aria-labelledby="login" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><%= icon :remove_circle %></button>
				<h4 class="modal-title" id="myModalLabel">
					Sign in
				</h4>
			</div>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name), layout: :basic ) do |f| %>
  			<div class="modal-body">
          <div class="field">
            <%= f.email_field :email, autofocus: true %>
          </div>
        
          <div class="field">
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
            </div>
          <% end -%>
  			</div>
  			<div class="modal-footer">
  				 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
  				 <%= f.submit "Log in" %>
  			</div>
  		<% end %>
		</div>
		
	</div>
	
</div>
<!-- End login modal -->