<!DOCTYPE html>
<html>
<head>
  <title>Humane Resources</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/login_modal' %>
  <div class="container">
  	<div class="row clearfix">
  		<div class="col-md-12 column">
  		  
  		  <% unless user_signed_in? %>
  		  <!-- Jumbotron -->
  		  <div class="jumbotron people">
  		    
  				<h1>
  					Hello HR peoples
  				</h1>
  				<p>
  					Welcome to Humane Resource Ltd.<br>
  					Form an orderly queue and let's get all your HR needs sorted ..
  				</p>
  				
  				<p>
  					<a class="btn btn-primary btn-large" href="#">Learn more</a>
  				</p>
			  </div>
  		  <!-- End Jumbotron -->
  		  <% end %>
  		  <!-- -->
  		  <nav class="navbar navbar-default" role="navigation">
    		
    		  <div class="navbar-header">
  					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/">Humane Resources</a>
  				</div>
  				
  				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  					<ul class="nav navbar-nav">
  					
							  <% if user_signed_in? %>
          				<li>
          					<a href="/employees/profile">My Profile</a>
          				</li>
          				<% if current_user.admin? %>
          				  <li>
            					<a href="/news">News</a>
            				</li>
            				<li>
            					<a href="/employees">Employees</a>
            				</li>
            				<li>
          					  <a href="/statistics">Statistics</a>
          				  </li>
            			<% end %>
      				  <% end %>
  					
  					</ul>
  					
  					<ul class="nav navbar-nav navbar-right">
  						<li class="pull-right">
  				    <% if user_signed_in? %>
  				      <%= link_to "Sign out #{current_user.email}", destroy_user_session_path, :method => :delete %>
  				    <% else %>
  				      <%= link_to 'Sign in', "#modal-container-signin", id: "modal-signin", "data-toggle" => "modal" %>
  				    <% end %>
  				    </li>
  					</ul>
  					
  					<form class="navbar-form navbar-right" role="search">
  						<div class="form-group">
  							<input class="form-control" type="text" value='Employee Search'/>
  					</form>
  				</div>
  				
			</nav>
  		  
  			
  			<div class="row clearfix">
  				<div class="col-md-12 column">
  				  <%= alert_box notice, context: :success if notice%>
            <%= alert_box alert, context: :warning  if alert%>
  					<%= yield %>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</body>
</html>
